*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #2a2a2e;
    color: orange;
}
#cadastro{
    width: 800px;
    min-height: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(34, 34, 34);
}
#cadastroTitulo{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: orange;
    width: auto;
    height: 120px;
    text-align: center;
    color: rgb(37, 37, 37);
    font-size: 1.6em;
    box-sizing: border-box;
    padding-top: 30px;
    cursor: default;
}
.campos{
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cadastroInformacoesPessoais  {
    width: 270px;
    height: 55px;
    float: left;
    background-color: rgb(27, 27, 27);
    text-align: right;
    font: bolder 1.1em arial;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: default;
    
}
.cadastroEntradaDeDados {
    width: 600px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    
  
}

.cadastroEntradaDeDados input[type=text], .cadastroEntradaDeDados select {
    height: 30px;
    margin-left: 10px;
    width: 300px;
    padding-left: 10px;
    box-sizing: border-box;
}



.cadastroEntradaDeDados textarea{
    width: 450px;
    height: 100px;
    resize: none;
}
.enviar input{
    width: 150px;
    height: 30px;
    background-color: orange;
    color: rgb(37, 37, 37);
    font: bolder 20px arial;
    border: none;
    margin-top: 30px;
}
.enviar input:hover{
    cursor: pointer;
}
.enviar{
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*consulta de dados*/
#consultaDeDados{
    width: 1000px;
    min-height: 300px;
    height: auto;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px;
}
#tblConsulta{
    width: 100%;
    min-height: 30px;
    height: auto;
}
#tblTitulo{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 166, 0);
    color: rgb(32, 32, 32);
    text-align: center;
    font-size: 1.6em;
    cursor: default;
}
#tblLinhas{
    width: 100%;
    height: 50px;
    border: solid 1px black;
    cursor: default;
}
.tblColunas{
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: rgb(32, 32, 32);
    border: solid 1px black;
}
.tblImagens{
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
}
.fechar, .visualizar, .editar{
    width: 30px;
    height: 30px;
/*    background-color: black;*/
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
.fechar{
    background-image: url(../img/delete.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.visualizar{
    background-image: url(../img/view.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.editar{
    background-image: url(../img/edit.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fechar:hover{
    background-image: url(../img/delete1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.visualizar:hover{
    background-image: url(../img/view1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.editar:hover{
    background-image: url(../img/edit1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    z-index: 999;
    position: fixed;
    padding-top: 10vh;
    display: none;
}
#modalContent{
    width: 70vw;
    height: 75vh;
    overflow: auto ;
    margin: auto;
    background-color: #202020;
    padding: 10px;
}

.tblInfo{
    width: 68vw;
    height: auto;
    margin: auto;
    border: solid 2px black;
    font: bolder 20px arial;
    overflow: auto;
}
.trInfo{
    width: 100%;
    height: auto;
    
    background-color: #202020;
}
.tdType{
    width: 200px;
    padding-left: 10px;
    border: solid 2px black;
}
.tdInfo{
    width: auto;
    padding-left: 10px;
    padding: 10px;
    border: solid 2px black;
}
.trtitle{
    width: auto;
    height: 50px;
    text-align: center;
    border: solid 2px black;
}
.title{
    float: left;
    width:90%;
}
.exit{
    width: 45px;
    height: 35px;
    background-image: url(../img/exit.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    float: left;
}
.exit:hover{
    background-image: url(../img/exit1.png);
    cursor: pointer;
}