*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-input-placeholder{
    color: grey;
    font: bolder 2vh arial;
    text-align: center;
}
@media screen and (min-device-width:1300px){
    #registerBox{
        width: 600px;
        height: auto;
        margin: auto;
        padding-top: 10px;
        background-color: rgba(26, 13, 0, 0.950);
        border-radius: 0px 0px 10px 10px;
    cursor: default;
        
        
    }
    #form-contact{
        width: 90%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-areas: 
            "name name"
            "tellphone cellphone"
            "profession profession"
            "male female"
            "email email"
            "homepage homepage"
            "facebook facebook"
            "message message"
            "suggestion review"
            "submit submit"
        ;
        gap: 10px;
    }
    
    #name{grid-area: name;}
    #tellphone{grid-area: tellphone;}
    #cellphone{grid-area: cellphone;}
    #profession{grid-area: profession;}
    #female{grid-area: female;}
    #male{grid-area: male;}
    #email{grid-area: email;}
    #homepage{grid-area: homepage;}
    #facebook{grid-area: facebook;}
    #message{grid-area: message;}
    #suggestion{grid-area: suggestion;}
    #review{grid-area: review;}
    #submit{grid-area: submit;}

    .inputText{
        height: 30px;
        font-size: 20px;
        padding-left: 10px;
        outline: none;
    }
    .inputText:focus, #textObs:focus{
        border: solid 2px rgba(26, 13, 0);
        background-color: rgba(26, 13, 0);
        color: white;
    }
    
    .messageBox{
        width: 350px;
        height: 150px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #message{
        width: 100%;
        height: 110px;
        margin-top: 10px;
        font: 20px arial;
        padding: 5px;
        outline: none;
    }
    .submit{
        width: 80px;
        height: 40px;
        background-color: rgba(26, 13, 0);
        border-radius: 10px 10px 0px 0px;
        border: none;
        color: white;
        font-size: 20px;
        outline: none;
    

    }
    .submit:hover{
        background-color: white;
        color: rgba(26, 13, 0);
        cursor: pointer;
    }

    label{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 10px;
        cursor: pointer;
        color: white;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    label .radio{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    label:hover input ~ .checkmark {
        background-color: #d2d2d2;
    }
    label input:checked ~ .checkmark {
        border: solid 2px white;
        background-color: rgba(26, 13, 0);
    }
}

@media screen and (max-device-width:1300px){

    #registerBox{
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        background-color: rgba(26, 13, 0, 0.950);
        cursor: default;
        
        
    }
    #form-contact{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas: 
            "name name"
            "tellphone tellphone"
            "cellphone cellphone"
            "profession profession"
            "male female"
            "email email"
            "homepage homepage"
            "facebook facebook"
            "message message"
            "suggestion review"
            "submit submit"
        ;
        padding: 10px;
        gap: 10px;
    }
    
    #name{grid-area: name;}
    #tellphone{grid-area: tellphone;}
    #cellphone{grid-area: cellphone;}
    #profession{grid-area: profession;}
    #female{grid-area: female;}
    #male{grid-area: male;}
    #email{grid-area: email;}
    #homepage{grid-area: homepage;}
    #facebook{grid-area: facebook;}
    #message{grid-area: message;}
    #suggestion{grid-area: suggestion;}
    #review{grid-area: review;}
    #submit{grid-area: submit;}

    .inputText{
        height: 30px;
        font-size: 20px;
        padding-left: 10px;
        outline: none;
    }
    .inputText:focus, #textObs:focus{
        border: solid 2px rgba(26, 13, 0);
        background-color: rgba(26, 13, 0);
        color: white;
    }
    
    .messageBox{
        width: 100%;
        height: 150px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #message{
        width: 100%;
        height: 110px;
        margin-top: 10px;
        font: 20px arial;
        padding: 5px;
        outline: none;
    }
    .submit{
        width: 80px;
        height: 40px;
        background-color: rgba(26, 13, 0);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 20px;
        outline: none;
    

    }
    .submit:focus{
        background-color: white;
        color: rgba(26, 13, 0);
    }

    label{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 10px;
        cursor: pointer;
        color: white;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    label .radio{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    label:hover input ~ .checkmark {
        background-color: #d2d2d2;
    }
    label input:checked ~ .checkmark {
        border: solid 2px white;
        background-color: rgba(26, 13, 0);
    }
}