
@media screen and (min-device-width:1300px){
    h1{
        background-color: rgba(26, 13, 0, 0.950);;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 0px 0px 10px 10px;
    }
    #contentBox{
        display: flex;
    }

    #menuItemBox{
        width: 20%;
        height: auto;
        padding-top: 10px;
        background-color: rgba(26, 13, 0, 0.950);
        box-sizing: border-box;
        border-radius: 0px 0px 20px 0px;
    }
    .menuItem{
        width: 100%;
        min-height: 500px;
        box-sizing: border-box;
        height: auto;
    }
    .menuProduct{
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        font-size: 26px;
        color: white;
        line-height: 50px;
        text-align: center;
        box-sizing: border-box;
    }   
    .menuProduct:hover{
        background-color: #e0e0e0;
        border-top: solid rgba(26, 13, 0);
        border-bottom: solid #aeaeae;
        color: rgba(26, 13, 0);
        cursor: pointer;
    }
    .productBox{
        width: 80%;
        height: auto;
        padding: 5px;
        padding-top: 0;
        float: left;
    }
    .product{
        width: 250px;
        height: auto;
        background-color: rgba(26, 13, 0, 0.950);
        border-radius: 10px;
        margin-left: 20px;
        margin-top: 20px;
        box-shadow: 1px 0px 5px #0a0a0a;
        box-sizing: border-box;
        float: left;
    }
    .product:hover{
        transition: 0.5s;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.397)
    }
    .imgProduct{
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0px 0px;
        background-color: #484848;
    }
    .infProduct{
        margin-top: 5px;
        width: 200px;
        height: 35px;
        padding: 5px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .oldPrice{
        text-decoration: line-through red;
    }
    .btnProduct{
        width: 100px;
        height: 35px;
        margin-top: 5px;
        margin-left: 100px;
        font-weight: bold;
        background-color: rgba(26, 13, 0, 0.950);
        border-radius: 10px 10px 0px 0px;
        color: #ffffff;
        border: none;
    }
    .btnProduct:hover{
        background-color: #ffffff;
        color:rgba(26, 13, 0);
        cursor: pointer;
        
    }
}
@media screen and (max-device-width:1300px){
    h1{
        width: 100%;
        background-color: rgba(26, 13, 0, 0.950);;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    #menuItemBox{
        display: none;
    }
    .productBox{
        width: 100%;
        height: auto;
    }
    .product{
        width: 90%;
        height: auto;
        background-color: rgba(26, 13, 0, 0.950);
        margin: auto;
        margin-bottom: 20px;
        padding: 5px;
        box-sizing: border-box;
        box-shadow: 1px 0px 5px #0a0a0a;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }
    .imgProduct{
        width: 50%;
        height: 25vh;
        border-radius: 10px;
        background-color: #484848;
    }
    .infoBox{
        width: 50%;
        height: 100%;
        padding: 10px;
    }
    .infProduct{
        margin-top: 5px;
        width: 100%;
        height: 35px;
        padding: 5px;
        box-sizing: border-box;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }
    .info{
        color: orange;
    }
    .oldPrice{
        text-decoration: line-through red;
    }
    .btnProduct{
        width: 100%;
        height: 35px;
        margin-top: 5px;
        font-weight: bold;
        background-color: rgba(26, 13, 0, 0.950);
        color: #ffffff;
        border: none;
        border-radius: 10px;
    }
}