*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title-content{
    width: 100%;
    border-bottom: solid 1px black; 
}
.title-function{
    width: 100%;
    height: 75px;
    border-bottom: solid 1px black;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
}
.content{
    height: auto;
    display: grid;
    grid-template-columns: 15% 85%;
}

.options{
    border-right: solid 1px black;
}
.page{
    width: 100%;
    height: 50px;
    font: bold calc(10px + 10px)/50px arial;
    text-align: center;
    color: #1e1e1e;
    cursor: pointer;
}
.page:hover{
    background-color: #d3d3d3;
}

#admin-curiosity{
    height: 100%;
}
.config-curiosity{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}


#form-curiosity, #form-about, #form-local{
    width: 500px;
}
#title-curiosity, #title-about{
    width: 100%;
    height: 40px;
    font: bold calc(10px + 10px)/40 arial;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #292929;
    background-color: #ffffff;
    border: solid 3px #d3d3d3;
    border-radius: 5px;

}
#text-curiosity, #text-about, #map{
    width: 100%;
    height: 200px;
    padding: 10px;
    font: calc(5px + 10px) arial;
    color: #292929;
    background-color: #ffffff;
    border: solid 3px #d3d3d3;
    resize: none;
    border-radius: 5px;
}

#form-image-curiosity{
    margin: 10px;
    margin-right: 10px;
}
#image-curiosity{
    display: none;
}
.file-selector{
    background-color: #d3d3d3;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    color: #292929;
    cursor: pointer;
    padding: 6px 20px;
}
.file-selector:hover{
    background-color: #1e1e1e;
    color: #d3d3d3;
}
.image-box{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: solid 3px #d3d3d3;
    border-radius: 5px;
}
.photo{
    width: 100%;
    height: 100%;
}

.buttons{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}
.button{
    width: auto;
    height: auto;
    padding: 5px 5px;
    border: solid 1px #dfdfdf;
    border-radius: 5px;
    background-color: #c3c3c3;
    font: bolder calc(5px + 10px)/30px sans-serif;
    color: #1e1e1e;
    cursor: pointer;
}
.button:hover{
    background-color: #1e1e1e;
    border: solid 1px #dfdfdf;
    color: #dfdfdf;
}

#form-about, #form-local{
    margin: auto;
    margin-top: 10px;
}

#form-local{
    display: grid;
    grid-template-areas: 
        "name name"
        "email email"
        "state city"
        "street number"
        "map map"
    ;
    gap: 10px;
}

#name{grid-area: name;}
#email{grid-area: email;}
#state{grid-area: state;}
#city{grid-area: city;}
#street{grid-area: street;}
#number{grid-area: number;}
#map{grid-area: map;}

.input-info{
    height: 40px;
    font: bold calc(10px + 10px)/40 arial;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #292929;
    background-color: #ffffff;
    border: solid 3px #d3d3d3;
    border-radius: 5px;
}

/*SHOW INFO*/
#show-content{
    width: 100%;
    height: auto;
    display: none;
}
.table{
    width: 100%;
}
.line-curiosity{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 435px 150px 60px;
}
.line-about{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 585px 60px;
}
.line-local{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 385px 260px;
}
.collumn{
    height: 50px;
    border-bottom: solid 1px black;
    font: bold calc(10px + 10px)/50px arial;
    text-align: center;
    color: #292929;
}
.collumn-content{
    height: 175px;
    border-bottom: solid 1px black;
    font: bold calc(10px + 10px) arial;
    text-align: center;
    color: #292929;
}
.collumn-title{
    padding-top: 25px;
}
.collumn-text{
    padding: 15px;
    font: bold calc(5px + 10px) arial;
}
.show-text{
    overflow: auto;
    height: 100%;
}
.collumn-option{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.delete-link{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-top: 2px;
}
.option-icon{
    fill: #7a7a7a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0;
}
.option-icon:hover{
    fill: #0a0a0a;
    cursor: pointer;
}
path{
    cursor: pointer;
}
.view{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
}
.view-horizontal{
    width: 30px;
    height: 40px;
    line-height: 30px;
    margin: 0;
}
.image{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: solid 2px #d3d3d3;
}

#modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;
    display: none;
    overflow: auto;
    margin-top: -50px;
    z-index: 999;
}