*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;
    display: none;
    overflow: auto;
    margin-top: -50px;
    z-index: 999;
}

.modal{
    width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: #1e1e1e;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 0px 5px #0a0a0a;
}

.title-showUser{
    height: 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 0px 5px #0a0a0a;

    display:flex;
    justify-content: space-between;
    padding-left: 10px;

    text-align: center;
    font: bolder calc(5px + 10px)/45px sans-serif;
    color: #d3d3d3;
}

.exit{
    width: 35px;
    height: 35px;
    margin-top: 5px;
    fill: #dfdfdf;
    cursor: pointer;
    float: left;
}
.exit:hover{
    fill: #121212;
}

.informations{
    display: grid;
    grid-template-areas: 
        "name name"
        "profession gender"
        "email email"
        "cellphone tellphone"
        "facebook homepage"
        "message message";
    gap: 10px;
    padding: 10px;

    font: bold calc(10px +10px)/50 arial;
    color: white;
}

.info{
    box-shadow: 1px 0px 5px #0a0a0a;
    border-radius: 5px;
    padding: 10px;
    line-height: 30px;
}

/*Register*/
#name{ grid-area: name;}
#profession{ grid-area: profession;}
#gender{ grid-area: gender;}
#email{ grid-area: email;}
#cellphone{ grid-area: cellphone;}
#tellphone{ grid-area: tellphone;}
#facebook{ grid-area: facebook;}
#homepage{grid-area: homepage;}
#message{
    height: 200px;
    overflow: auto;
    grid-area: message;
}

