*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body{   
    background-image: url(../../image/background_10.jpg);
    padding-top: 50px;
}
.bodyMain{
    width: 700px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.87);
}
/*header/footer*/
header{
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 2px black;
    margin: auto;
    background-color: rgba(26, 13, 0);
    border-radius: 10px 10px 0px 0px;

}
footer{
    width: 700px;
    height: 50px;
    text-align: center;
    border: solid 2px black;
    margin: auto;
    background-color: rgba(26, 13, 0);
    color: white;
    border-radius: 0px 0px 10px 10px;
}
.logo{
    width: auto;
    height: 100px;
    margin: auto;
}
.title{
    height: 50px;
    font: bolder 26px/50px arial;
    color: white;
    margin: auto;
}
.subTitle{
    height: 50px;
    font: 20px/50px arial;
    color: white;
    margin: auto;
}

/*main*/
main{
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-rows: 150px 350px;
    border-bottom: solid 2px black;
    border: solid 2px black;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.822);
}
/*menu*/
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: solid 2px black;
    }
    a{
        text-decoration: none;
        color: black;
    }
    /*menu*/
        .menu{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: row;
            margin: auto;
            
        
        }
        .option{
            width:auto;
            height: 125px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
            border-radius: 20px;
            background-color: rgb(212, 211, 211);
        }
        .option:hover{
            box-shadow: 5px 5px 5px rgb(26,13,0);
            cursor: pointer;
        }
        .iconOption{
            width: 75px;
            height: 75px;
            margin: auto;
            cursor: pointer;
        }
        .titleOption{
            font: bolder 15px/30px arial;
        }
    /*logout*/
        .logout{
            width: 40%;
            height: 100%;
            
        }
        .message{
            font: 20px/50px arial;
            text-align: center;
        }
        .btnLogout{
            position: relative;
            left: 170px;
            top:50px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            font: bolder 26px arial;    
        }
        .btnLogout:hover{
            color: red;
        }
/*content*/
    .content{
        width: 100%;
        height: auto;
    }