*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.title-content{
    width: 100%;
}
.subtitle-box{
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}
.subtitle{
    font: bold calc(10px + 10px)/50px arial;
    color: #292929;
    margin-left: 25px;
   
}
.button-newuser{
    width: auto;
    height: auto;
    margin-right: 25px;
    padding: 5px;
    background-color: #c3c3c3;
    border: none;
    border-radius: 5px;
    font: bold calc(5px + 10px)/25px arial;
    color: #1e1e1e;
    cursor: pointer;
}
.button-newuser:hover{
    background-color: #1e1e1e;
    color: #dfdfdf;
    border: solid 1px #dfdfdf;
}
.types{
    display: grid;
    grid-template-columns: 220px 150px 450px 150px;
    border: none;
    padding: 2px;
    border-bottom: solid 1px black;
}
.type-info{
    font: bold calc(5px + 10px)/50px arial;
    text-align: center;
    color: #292929;
}
.overflow{
    width: 100%;
    height: 200px;
    overflow: auto;
}
.table-register{
    width: 100%;
    height: auto;
}
.line{
    width: 100%;
    height: auto;
    cursor: default;
    display: grid;
    grid-template-columns: 220px 150px 450px 150px;
}
.collumn{
    height: 50px;
    border-bottom: solid 1px black;
    font: bold calc(5px + 10px)/50px arial;
    text-align: center;
    color: #292929;
}
#modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;
    display: none;
    overflow: auto;
    margin-top: -50px;
    z-index: 999;
}
.delete, .view, .edit{
    fill: #7a7a7a;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    float: left;
}
.delete:hover , .view:hover, .edit:hover{
    fill: #0a0a0a;
    cursor: pointer;
}
path{
    cursor: pointer;
}