h3{
    font-size: 25px;
    line-height: 100px;
    color: white;

}
p{
    font-size: 20px;
    text-align: center;
}

@media screen and (min-device-width:1300px){

    #contentBox{
        display: flex;
    }

    #menuItemBox{
        width: 20%;
        height: auto;
        padding-top: 10px;
        background-color: rgba(26, 13, 0, 0.822);
        box-sizing: border-box;
        border-radius: 0px 0px 20px 0px;
    }
    .menuItem{
        width: 100%;
        min-height: 500px;
        box-sizing: border-box;
        height: auto;
    }
    .menuProduct{
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        font-size: 26px;
        color: white;
        line-height: 50px;
        text-align: center;
        box-sizing: border-box;
    }   
    .menuProduct:hover{
        background-color: #e0e0e0;
        border-top: solid rgba(26, 13, 0);
        border-bottom: solid #aeaeae;
        color: rgba(26, 13, 0);
        cursor: pointer;
    }

    .productBox{
        width: 1000px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        padding: 25px;
        box-sizing: border-box;
        background-color: rgba(26, 13, 0, 0.822);
        border-radius: 0px 0px 10px 10px;
    }
    .product{
        width: inherit;
        height: 400px;       
        display: flex;
        flex-direction: row;
    }
    .productInfo, .productImg{
        width: 450px;
        height: auto;
        margin-right: 50px;
        text-align: center;
        font-size: 26px;
        color: white;
        box-sizing: border-box;
    }
    .productImg{
        border-radius: 20px;
    }
}

@media screen and (max-device-width:1300px){
    #menuItemBox{
        display: none;
    }
    .productBox{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        padding: 25px;
        
        box-sizing: border-box;
        background-color: rgba(26, 13, 0, 0.822);
    }
    .product{
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column-reverse;      
    }
    .productInfo, .productImg{
        width: 100%;
        height: auto;
        margin-right: 50px;
        text-align: center;
        font-size: 26px;
        color: white;
        box-sizing: border-box;
    }
    .productImg{
        border-radius: 20px;
    }
}