@media screen and (min-device-width:1300px){
    #registerBox{
        width: 90%;
        height: 600px;
        margin: auto;
        padding: 50px;
        background-color: rgba(0, 128, 0, 0.664);
        
    }
    .registerPart{
        width: 500px;
        height: auto;
        margin-left: 5px;
        float: left;
    }
    .infoInput{
        width: 350px;
        height: 75px;
        line-height: 25px;
        margin: auto;
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .inputText{
        width: 350px;
        height: 30px;
        font-size: 20px;
    }
    .radioOption{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
    .infoType{
        font-size: 25px;
        margin-bottom: 5px;
        color: white;
    }

    .messageBox{
        width: 350px;
        height: 150px;
        margin: auto;
        margin-bottom: 10px;
    }
    #textObs{
        width: 100%;
        height: 110px;
        font-size: 20px;
        padding: 5px;
    }
    .submit{
        width: 80px;
        height: 40px;
        background-color: green;
        border: none;
        color: white;
        font-size: 20px;
    }
    .submit:hover{
        background-color: white;
        color: green;
    }
}

@media screen and (max-device-width:780px){
    #registerBox{
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 50px;
        background-color: rgba(0, 128, 0, 0.664);
        
    }
    .registerPart{
        width: 100%;
        height: auto;
    }
    .infoInput{
        width: 100%;
        height: auto;
        line-height: 25px;
        margin: auto;
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .inputText{
        width: 100%;
        height: 30px;
        
        font-size: 20px;
    }
    .radioOption{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-left: 10px;
    }
    .infoType{
        font-size: 25px;
        margin-bottom: 5px;
        color: white;
    }
    .messageBox{
        width: 100%;
        height: 150px;
        margin: auto;
        margin-bottom: 10px;
    }
    #textObs{
        width: 100%;
        height: 110px;
        font-size: 20px;
        padding: 5px;
    }
    .submit{
        width: 80px;
        height: 40px;
        background-color: green;
        border: none;
        color: white;
        font-size: 20px;
    }
}